

// color variables
$grey: #808184;
$grey-dark: #333333;
$teal: #0599D0;
$green: #54B35D;
$red: #BD2037;
$yellow: #F6CA51;


@import "reset";

@import "fonts";

@import "mixins";

@import "base";

@import "grid";


// wrap div
.wrap {
	max-width: 1220px;
	margin: 0 auto;
	position: relative;
	@include clearfix;
	overflow: hidden;
}

.box-container {
	box-shadow: 0 0 30px rgba( $grey, .2 );
}


.main-content {
	position: relative;
	background: white;

	@include respond-to( 1300px ) {
		margin-top: 50px;
	}

	.main-title {
		color: $grey-dark;
		font-size: 1.4em;
		line-height: 1.5em;
		text-align: center;
		padding: 20px;
	}
	
	.contact-form {
		padding: 20px;

		@include respond-to( 1024px ) {
			background: rgba( white, .8 );
			position: absolute;
			top: 100px;
			right: 0;
			width: 42%;
			margin: 0;
			padding: 20px;
			box-shadow: 0 0 30px rgba( black, .3 );
		}

		@include respond-to( 1220px ) {
			top: 215px;
		}

		p {
			padding: 4px 0;

			@include respond-to( 1220px ) {
				padding: 10px 0;
			}
		}

		input[type=submit], button, .btn {
			@include clearfix;
			@include font;
			-webkit-appearance: none;
			padding: 10px 35px;
			background-color: $red;
			color: white;
			border: 0;
			font-size: 1.1em;
			line-height: 1.1em;
			text-transform: uppercase;
			cursor: pointer;
			position: relative;
			box-shadow: 3px 3px 25px rgba( black, .2 );

			&:hover {
				opacity: .9;
				color: white;
			}
		}

		.radio-pad {
			padding: 10px 0;
		}

		.contact-us-statement {
			@include font-bold;
			color: $red;
			padding: 10px 0;
		}

		.submit-button {
			margin: 10px 0;
		}
	}

	.jumper-cables {
		margin: 0 auto -25px;
		text-align: center;

		@include respond-to( 1024px ) {
			position: absolute;
			right: 20px;
			z-index: 10;
		}
	}

	.calculator {
		background: $yellow;
		color: black;
		padding: 20px;
		position: relative;
		z-index: 5;

		@include respond-to( 1024px ) {
			padding: 20px 20px 20px 300px;
		}

		h3 {
			@include respond-to( 768px ) {
				padding: 10px 0 0 1.5%;
			}

			@include respond-to( 1024px ) {
				padding: 30px;
				background: $red;
				color: white;
				position: absolute;
				left: -40px;
				top: 25px;
				font-size: 2em;
				width: 300px;
			}

			@include respond-to( 1220px ) {
				top: 20px;
			}
		}

		@include respond-to( 1024px ) { 
			margin: 20px 300px 20px 40px;
		}

		.form {
			background: transparent;
			padding: 0;
		}

		.result {
			padding: 8px 0;
			font-size: 1.2em;

			span {
				@include font-bold;
			}

			@include respond-to( 768px ) {
				padding: 40px 0 0 20px;
			}

			@include respond-to( 1024px ) {
				padding-top: 26px;
			}

			@include respond-to( 1220px ) {
				padding: 40px 0 0 0;
			}
		}
	}

	&.thanks .intro {
		padding: 50px 0 200px 0;
	}
}


.columns {
	padding: 40px 20px 20px;
	background: url(../img/bg-tread.png) center center no-repeat;
	background-size: contain;

	@include respond-to( 768px ) {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.column {
		display: flex;

		@include respond-to( 768px ) {
			flex: 1 0 50%;
			align-items: center;
		}

		.icon {
			flex-basis: 25%;
			text-align: right;
			padding: 0 10px 0 0;
		}

		.desc {
			flex-basis: 75%;
			font-size: 1.2em;
			line-height: 1.5em;
			align-content: middle;
		}
	}
}


.apply-button {
	padding: 20px;
	text-align: center;

	@include respond-to( 1024px ) {
		padding: 40px 50px 80px;
	}

	.btn {
		@include font-bold;
		background: $red;
		color: white;
		padding: 12px 20px;
		font-size: 1.3em;
		line-height: 1em;
		text-transform: uppercase;
		display: inline-block;
	}
}


.bottom-banner {
	@include font-bold;
	font-size: 1.3em;
	text-align: center;
	background: $red;
	color: white;
	padding: 40px 30px;
	position: relative;

	@include respond-to( 900px ) {
		font-size: 1.4em;
	}

	@include respond-to( 1024px ) {
		padding-left: 150px;

		&:before {
			content: '';
			width: 250px;
			height: 270px;
			background: url(../img/character-checker-flag.png) center center no-repeat;
			background-size: contain;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}


footer {
	@include clearfix;
	background: white;
	padding: 20px;
	position: relative;

	h3 {
		@include font-slab;
		font-weight: 400;
		font-size: 1.8em;
		line-height: 1em;
		color: $teal;
		padding: 25px 0 5px;
	}

	h2 {
		font-size: 2em;
		line-height: 1em;
		color: $grey;
		padding: 5px 0;

		a {
			color: $grey;
		}
	}

	.social {
		padding: 10px 0 5px;

		img {
			width: 45px;
			margin: 0 5px;
		}
	}
}


.fine-print {
	padding: 20px;
	font-size: .85em;
	line-height: 1.3em;
	text-align: left;
	color: $grey;

	img {
		float: right;
		margin: 0 0 15px 15px;
	}
}

